<div class=post-content>
  <%= @post.content %>
</div>
<%= form_for post do |f| %>
  <%= f.label "Title" %>
  <%= f.text_field :title %>
  <%= f.label "Content" %>
  <%= f.text_area :content %>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  <%= f.fields_for :categories, post.categories.build do |categories_fields| %>
    <%= categories_fields.text_field :name %>
  <% end %>
  <%= f.submit %>
<% end %>


<% ##
Parameters: {
  "utf8"=>"✓",
  "authenticity_token"=>"XyXtWG94+i3kr6J1qj3ZQ0bqdgInSLRoT4jqVSPNku/2RSDiVzpm8zqqYHY4KuwQCioSHiftDVpiAyostKaUng==", 
  "post"=>{"title"=>"TITLELESS",
            "content"=>"CONTENTSSSS",
            "category_ids"=>["", "1", "2"],
            "categories_attributes"=>{
              "0"=>{"name"=>"NEW CATEGORY"}
            }
          },
  "commit"=>"Create Post"}
%>
